
  body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: wheat;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
 .per{
    margin: 18px 0px;
    display: flex;
    gap: 1vw;
    font-size: 16px;
  }
  input[type="text"], input[type="email"], select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  input[type="submit"], input[type="button"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #45a049;
  }
  .error {
    color: red;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f2;
  }
